name: Build

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'VERSION'
      - 'patches/**'
  
jobs:
  build-static:
    runs-on: alt-sisyphus
    container:
      image: altlinux.space/actions/runner/containers:sisyphus
    
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Get version from VERSION file
      id: get_version
      run: |
        XMRIG_VERSION=$(cat VERSION)
        echo "xmrig_version=$XMRIG_VERSION" >> $GITHUB_OUTPUT
        echo "Building with xmrig version: $XMRIG_VERSION"

    - name: Build
      run: |
        podman build --build-arg XMRIG_VERSION=$XMRIG_VERSION -t xmrig-static .
        podman image save xmrig-static:latest - | crane export - - | tar -xf -
    
    - name: Archive production artifacts
      uses: actions/upload-artifact@v3
      with:
        name: build-static
        path: |
          ./xmrig

    outputs:
      xmrig_tag: ${{ steps.get_version.outputs.xmrig_version }}
      
  release-nightly:
     runs-on: ubuntu-latest
     needs: build-static
     steps:
      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-static
          path: /tmp/artifact
        
      - name: "Copy files (Nightly)"
        run: |
           mkdir /tmp/xmrig-nightly
           cp -r /tmp/artifact/* /tmp/xmrig-nightly
           
      - name: "Tar (Nightly)"
        uses: https://github.com/a7ul/tar-action@v1.1.0
        with:
          command: c
          cwd: /tmp
          files: |
            xmrig-nightly
          outPath: xmrig-nightly-linux-static-x64.tar.gz
          
      - name: Release (Nightly)
        uses: https://github.com/softprops/action-gh-release@v2
        env:
          GITHUB_SERVER_URL: https://github.com
        with:
          repository: xmrig-zero-donation/xmrig-zero-donation
          token: ${{ secrets.RELEASE_TOKEN }}
          prerelease: true
          tag_name: "nightly"
          files: |
            ./xmrig-nightly-linux-static-x64.tar.gz

  release:
     runs-on: ubuntu-latest
     needs: build-static
     if: startsWith(needs.build-static.outputs.xmrig_tag, 'v')
     steps:
      - name: "Set version env"
        run: |
          VERSION=${{ needs.build-static.outputs.xmrig_tag }}
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "VER=${VERSION:1}" >> $GITHUB_ENV

      - name: Download Artifact
        uses: actions/download-artifact@v3
        with:
          name: build-static
          path: /tmp/artifact
        
      - name: "Copy files"
        run: |
           mkdir /tmp/xmrig-${{env.VER}}
           cp -r /tmp/artifact/* /tmp/xmrig-${{env.VER}}
           
      - name: "Tar"
        uses: https://github.com/a7ul/tar-action@v1.1.0
        with:
          command: c
          cwd: /tmp
          files: |
            xmrig-${{env.VER}}
          outPath: xmrig-${{env.VER}}-linux-static-x64.tar.gz
          
      - name: Release
        uses: https://github.com/softprops/action-gh-release@v2
        env:
          GITHUB_SERVER_URL: https://github.com
        with:
          repository: xmrig-zero-donation/xmrig-zero-donation
          tag_name: ${{env.VERSION}}
          body: "Changelog: https://github.com/xmrig/xmrig/releases/tag/${{env.VERSION}}"
          token: ${{ secrets.RELEASE_TOKEN }}
          files: |
            ./xmrig-${{env.VER}}-linux-static-x64.tar.gz